<div>
          <%= form_tag(filter_books_path, method: :get, id: 'filter-form') do %>
            <label for="genre">Filter By:</label>
              <%= select_tag(:filter, options_for_select({ 'Recently_updated' => 'recently_updated', 'On_sale' => 'on_sale' }, params[:filter]), include_blank: 'All', id: 'filter-select') %>
          <% end %>

 <% if @genre %>
        <h2>Books in Genre: <%= @genre.name %></h2>
         <div>
        <% @books.each do |book| %>
            <%= render book%>
        <%end%>
        </div>
 <% else %>
        <h2>All Books</h2>
         <div>
        <% @books.each do |book| %>
                <%= render book%>
        <%end%>
         </div>
  <%end%>


    <% if @books.empty? %>
        <h3>No books found in <%= @association_name %>.</h3>
    <% end %>

</div>
