<div class="container">
  <%= form_tag(filter_books_path, method: :get, id: 'filter-form', class: 'mb-4') do %>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label" for="filter">Filter By:</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <%= select_tag(:filter, options_for_select({ 'Recently_updated' => 'recently_updated', 'On_sale' => 'on_sale' }, params[:filter]), include_blank: 'All', id: 'filter-select', class: 'select is-small') %>
        </div>
        <div class="field">
          <div class="control">
            <%= submit_tag('Filter', class: 'button is-primary is-small') %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @genre %>
    <h2 class="title">Books in Genre: <%= @genre.name %></h2>
    <div class="columns is-multiline">
      <% @books.each do |book| %>
        <div class="column is-one-third">
          <%= render book %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h2 class="title">All Books</h2>
    <div class="columns is-multiline">
      <% @books.each do |book| %>
        <div class="column is-one-third">
          <%= render book %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @books.empty? %>
    <h3>No books found in <%= @association_name %>.</h3>
  <% end %>

  <%= paginate @books %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const filterForm = document.getElementById('filter-form');
    filterForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.id === 'filter-select') {
        filterForm.submit();
      }
    });
  });
</script>
