<!-- app/views/products/search_results.html.erb -->
<div class="container">
  <h1 class="title">Search Results</h1>

  <% search_keyword = params[:keyword].presence || "All Books" %>
  <% search_category = Genre.find(params[:genre_id]).name if params[:genre_id].present? %>

  <% if search_category.present? %>
    <p>Your search result for "<%= search_keyword %>" in "<%= search_category %>" Genre found <%= @result_count %> results.</p>
  <% else %>
    <p>Your search result for "<%= search_keyword %>" in all genres found <%= @result_count  %> results.</p>
  <% end %>

  <div class="columns is-multiline">
    <% if @books.any? %>
      <% @books.each do |book| %>
        <div class="column is-one-third">
          <%= render book %>
        </div>
      <% end %>
    <% else %>
      <div class="column">
        <p>No Books found.</p>
      </div>
    <% end %>
  </div>

  <%= paginate @books %>
</div>
