<div class="book-details">
 <% if @book.image.attached? %>
    <%= image_tag @book.image %>
  <% else %>
    <p>No image available</p>
  <% end %>
  <h1><%= @book.name %></h1>
  <p><strong>Author:</strong> <%= @book.author %></p>
  <p><strong>Genre:</strong> <%= @book.genre.name %></p>
  <p><strong>Publisher:</strong> <%= @book.publisher %></p>
  <p><strong>Price:</strong> <%= number_to_currency(@book.price) %></p>
   <% if @book.on_sale? %>
    <p><strong>On Sale: </strong> Yes</p>
  <% end %>

    <%= link_to 'Add to Cart', add_to_cart_path(book_id: @book.id), method: :post %>
</div>
