<h1>Guest Checkout</h1>

 <% if flash[:error].present? %>
    <div class="notification is-danger flash-message">
      <%= flash[:error] %>
    </div>
  <% end %>

<%= form_with(url: save_guest_details_path) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :address %>
  <%= form.text_area :address %>

  <%= form.label :province %>
  <%= form.select :province_id, options_for_select(@provinces_list, @address[:province].to_i) %>

  <%= form.submit "Save Address" %>
<% end %>