<!-- app/views/checkout/guest.html.erb -->
<div class="container">
  <h1 class="title">Guest Checkout</h1>

  <% if flash[:error].present? %>
    <div class="notification is-danger flash-message">
      <%= flash[:error] %>
    </div>
  <% end %>

  <%= form_with(url: save_guest_details_path, class: 'guest-form') do |form| %>
    <div class="field">
      <%= form.label :name, class: 'label' %>
      <div class="control">
        <%= form.text_field :name, class: 'input', required: true %>
      </div>
    </div>

    <div class="field">
      <%= form.label :address, class: 'label' %>
      <div class="control">
        <%= form.text_area :address, class: 'textarea', required: true %>
      </div>
    </div>

    <div class="field">
      <%= form.label :province, class: 'label' %>
      <div class="control">
        <%= form.select :province_id, options_for_select(Province.all.map { |p| [p.name, p.id] }), { include_blank: 'Select Province' }, class: 'select', required: true %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.submit "Save Address", class: 'button is-info' %>
      </div>
    </div>
  <% end %>
</div>
