<!DOCTYPE html>
<html>
  <head>
    <title>Bookpedia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <section class="section">
      <% if notice.present? %>
        <p class="notice notification is-success"><%= notice %></p>
         <meta http-equiv="refresh" content="5;url=<%= request.original_url %>">
      <% end %>
      <%= yield %>
    </section>
  </body>
</html>
