<h1>Shopping Cart</h1>


<% if session[:cart].blank? %>
  <p>Your shopping cart is empty.</p>
<% else %>
<% if flash[:add] %>
  <div class="flash-message">
    <%= flash[:add] %>
  </div>
<% end %>

<% if flash[:update] %>
  <div class="flash-message">
    <%= flash[:update] %>
  </div>
<% end %>

<% if flash[:delete] %>
  <div class="flash-message">
    <%= flash[:delete] %>
  </div>
<% end %>

  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% session[:cart].each do |book_id, cart_item| %>
      <% book = Book.find(book_id) %>
        <tr>
          <td>
          <% if book.image.attached? %>
              <%= image_tag(book.image.variant(resize_to_limit: [100, 150])) %>
          <% end %>
          <%= cart_item['name'] %>
          </td>
          <td><%= number_to_currency(cart_item['price']) %></td>
          <td>
            <%= form_tag(update_quantity_cart_path, method: :patch) do %>
              <%= hidden_field_tag :book_id, book_id %>
              <%= number_field_tag :quantity, cart_item['quantity'], min: 0 %>
              <%= submit_tag "Update" %>
            <% end %>
          </td>
           <td><%= number_to_currency(cart_item['price'].to_f * cart_item['quantity']) %></td>
          <td><%= button_to "Remove", remove_from_cart_path(book_id: book_id), method: :delete, data: { confirm: "Are you sure you want to remove this item from the cart?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>Total: <%= number_to_currency(session[:cart].sum { |_, cart_item| cart_item['price'].to_f * cart_item['quantity'] }) %></p>

  <% if current_customer %>
    <!-- Display taxes and delivery details if a customer is logged in -->
    <p>Taxes: <%= number_to_currency(calculate_taxes(current_customer.province_id)) %></p>
    <p>Delivery to: <%= current_customer.address %>, <%= current_customer.province.name %></p>
    <%= link_to "Edit Address", edit_customer_registration_path %>
    <%= link_to "Proceed to Checkout", checkout_create_path %>

   <% elsif session[:guest_customer].present? %>
      <p>Taxes: <%= number_to_currency(session[:guest_customer][''])) %></p>
      <p>Delivery to: <%= session[:guest_customer]['address'] %>, <%= session[:guest_customer]['province'].name %></p>
      <%= link_to "Edit Address", guest_checkout_path %>
      <%= link_to "Proceed to Checkout", checkout_create_path %>
  <% else %>
    <!-- Display a button for guest checkout -->
    <%= link_to "Proceed to Checkout as Guest", guest_checkout_path %>
  <% end %>
<% end %>
