<h1>Shopping Cart</h1>

<% if session[:cart].blank? %>
  <p>Your shopping cart is empty.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Book</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
   <tbody>
  <% session[:cart].each do |book_id, cart_item| %>
    <% book = Book.find_by(id: book_id) %>
    <% if book && cart_item[:price].present? && cart_item[:quantity].present? %>
      <tr>
        <td>
          <% if book.image.attached? %>
            <%= image_tag(book.image.variant(resize_to_limit: [100, 150])) %>
          <% end %>
          <%= cart_item[:name] %>
        </td>
        <td><%= number_to_currency(cart_item[:price]) %></td>
        <td>
          <%= form_tag(update_quantity_cart_path, method: :patch) do %>
            <%= hidden_field_tag :book_id, book_id %>
            <%= number_field_tag :quantity, cart_item[:quantity], min: 0 %>
            <%= submit_tag "Update" %>
          <% end %>
        </td>
        <td>
          <%= number_to_currency(cart_item[:price] * cart_item[:quantity]) %>
        </td>
        <td>
          <%= link_to "Remove", remove_from_cart_path(book_id: book_id), method: :delete, data: { confirm: "Are you sure you want to remove this item from the cart?" } %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>

  </table>

  <p>Total: <%= number_to_currency(session[:cart].sum { |_, cart_item| cart_item[:price] * cart_item[:quantity] }) %></p>
<% end %>
