<!-- app/views/carts/show.html.erb -->
<div class="container">
  <h1 class="title">Shopping Cart</h1>

  <% if session[:cart].blank? %>
    <p>Your shopping cart is empty.</p>
    <%= link_to 'Check out Books', books_path, class: 'button is-primary' %>
  <% else %>

    <% if flash[:error] %>
      <div class="notification is-danger flash-message">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:add] %>
      <div class="notification is-success flash-message">
        <%= flash[:add] %>
      </div>
    <% end %>

    <% if flash[:update] %>
      <div class="notification is-success flash-message">
        <%= flash[:update] %>
      </div>
    <% end %>

    <% if flash[:delete] %>
      <div class="notification is-success flash-message">
        <%= flash[:delete] %>
      </div>
    <% end %>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Book</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% session[:cart].each do |book_id, cart_item| %>
        <% book = Book.find(book_id) %>
          <tr>
            <td>
              <% if book.image.attached? %>
                <%= image_tag(book.image.variant(resize_to_limit: [100, 150]), class: 'book-image') %>
              <% end %>
              <%= cart_item['name'] %>
            </td>
            <td><%= number_to_currency(cart_item['price']) %></td>
            <td>
              <%= form_tag(update_quantity_cart_path, method: :patch, class: 'update-form') do %>
                <%= hidden_field_tag :book_id, book_id %>
                <%= number_field_tag :quantity, cart_item['quantity'], min: 0, class: 'input is-small' %>
                <%= submit_tag "Update", class: 'button is-info is-small' %>
              <% end %>
            </td>
            <td><%= number_to_currency(cart_item['price'].to_f * cart_item['quantity']) %></td>
            <td>
              <%= button_to "Remove", remove_from_cart_path(book_id: book_id),
                            method: :delete, data: { confirm: "Are you sure you want to remove this item from the cart?" },
                            class: 'button is-danger is-small' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>Total (excluding taxes): <%= number_to_currency(session[:cart].sum { |_, cart_item| cart_item['price'].to_f * cart_item['quantity'] }) %></p>
    <% if @tax_rates.present? %>
      <p>Taxes:</p>
      <ul>
        <% @tax_rates.each do |tax_type, tax_rate| %>
          <li><strong><%= tax_type.to_s.upcase %>:</strong> <%= number_to_currency(@subtotal * tax_rate.to_f, precision: 2) %></li>
        <% end %>
      </ul>
    <% end %>

    <% if current_customer %>
      <p>Total Amount After Tax: <%= number_to_currency(@total_amount) %></p>
      <!-- Display taxes and delivery details if a customer is logged in -->
      <p>Delivery to: <%= current_customer.address %>, <%= current_customer.province.name %></p>
      <%= link_to "Edit Address", edit_customer_registration_path, class: 'button is-info is-small' %>
      <%= button_to "Checkout", checkout_create_path, class: 'button is-primary' %>
    <% elsif session[:guest_address].present? %>
      <p>Total Amount After Tax: <%= number_to_currency(@total_amount) %></p>
      <p>Delivery to: <%= session[:guest_address] %>, <%= Province.find(session[:guest_province_id]).name %></p>
      <%= link_to "Edit Address", guest_path, class: 'button is-info is-small' %>
      <%= button_to "Checkout As Guest", checkout_create_path, class: 'button is-primary' %>
    <% else %>
      <!-- Display a button for guest checkout -->
      <%= link_to "Add Guest Checkout Details", guest_path, class: 'button is-info is-small' %>
    <% end %>

  <% end %>
</div>
