<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'Bookpedia', root_path, class: 'navbar-item' %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarNav">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <%= link_to 'Books', books_path, class: 'navbar-link' %>
        <div class="navbar-dropdown">
          <%= form_tag(books_path, method: :get, class: 'navbar-item', id: 'genre-form') do %>
            <label for="genre">Select Genre:</label>
            <%= select_tag(:genre_id, options_for_select(Genre.all.map { |g| [g.name, g.id] }, params[:genre_id]), include_blank: 'All Genres', class: 'genre-select') %>
          <% end %>
        </div>
      </div>
      <%= link_to 'About Us', about_pages_show_path, class: 'navbar-item' %>
      <%= link_to 'Contact Us', contact_pages_show_path, class: 'navbar-item' %>

      <%= form_tag(search_books_path, method: :get, class: 'navbar-item') do %>
        <div class="field is-grouped">
          <div class="control">
            <%= select_tag(:genre_id, options_for_select(Genre.all.map { |g| [g.name, g.id] }), include_blank: 'All', class: 'genre-select') %>
          </div>
          <div class="control">
            <%= text_field_tag(:keyword, params[:keyword], id: 'keyword-input', placeholder: 'Search by Keyword', class: 'input') %>
          </div>
          <div class="control">
            <%= submit_tag('Search', class: 'button is-primary') %>
          </div>
        </div>
      <% end %>

      <% if current_customer %>
        <div class="navbar-item has-dropdown is-hoverable">
          <%= link_to 'Account', '#', class: 'navbar-link' %>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="<%= customer_path(current_customer.id) %>">View Account</a>
            <a class="navbar-item" href="<%= orders_index_path %>">View Past Orders</a>
          </div>
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if current_customer %>
          <%= button_to 'Log Out', destroy_customer_session_path, method: :delete, class: 'button is-danger' %>
        <% else %>
          <%= link_to 'Log In', new_customer_session_path, class: 'button is-primary' %>
        <% end %>
      </div>
      <div class="navbar-item">
        <%= link_to 'Cart', cart_path, class: 'button is-primary' %>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const genreForm = document.getElementById('genre-form');
    genreForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.classList.contains('genre-select')) {
        genreForm.submit();
      }
    });
  });
</script>
