 <nav>
    <ul>
      <li><%= link_to 'Bookpedia', root_path %></li>
      <li><%= link_to 'Books', books_path %></li>
      <li>
         <%= form_tag(books_path, method: :get, id: 'genre-form') do %>
          <label for="genre">Select Genre:</label>
             <%= select_tag(:genre_id, options_for_select(Genre.all.map { |g| [g.name, g.id] }, params[:genre_id]), include_blank: 'All Genres', id: 'genre-select') %>
        <% end %>
      </li>
       <li><%= link_to 'About Us', about_pages_show_path %></li>
      <li><%= link_to 'Contact Us', contact_pages_show_path %></li>

      <li>
       <%= form_tag(search_books_path, method: :get) do %>
        <div>
          <div>
            <%= select_tag(:genre_id, options_for_select(Genre.all.map { |g| [g.name, g.id] }), include_blank: 'All') %>
          </div>
        </div>
        <div class="control">
          <%= text_field_tag(:keyword, params[:keyword], id: 'keyword-input', placeholder: 'Search by Keyword') %>
        </div>
        <div class="control">
          <%= submit_tag('Search') %>
        </div>
      <% end %>
      </li>
    </ul>
  </nav>

  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const genreForm = document.getElementById('genre-form');
    genreForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.id === 'genre-select') {
        genreForm.submit();
      }
    });
  })

</script>