<!-- app/views/customers/show.html.erb -->
<div class="container">
  <h1 class="title">Your Account</h1>
  <div class="content">
    <p><strong>Name:</strong> <%= @customer.name %></p>
    <p><strong>Email:</strong> <%= @customer.email %></p>
    <p><strong>Address:</strong> <%= @customer.address %></p>
    <p><strong>Province:</strong> <%= @customer.province.name if @customer.province %></p>
  </div>

  <% if customer_signed_in? %>
    <div class="buttons">
      <%= link_to 'Edit Account Details', edit_customer_registration_path(current_customer), class: 'button is-primary' %>
    </div>
  <% end %>
</div>
